<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dreamlink.service.mapper.SubjectMapper">
    <select id="selectSubjectListByWelfareId" parameterType="int" resultType="int">
        SELECT
            `serviceListId`
        FROM
            `subject`
        WHERE
            `welfareId` = #{welfareId}

    </select>
    <select id="selectWelfareIdByServiceId" parameterType="int">
        SELECT
            `welfareId`
        FROM
            `subject`
        WHERE
            `serviceListId` = #{serviceId}
    </select>
</mapper>